/* Styles specific to editfile.css */

.chart-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0;
}

/* Individual chart boxes */
.chart-box {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 10px;
}

.info-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.info-category {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  flex-basis: calc(50% - 20px);
}

.info-pair {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.info-pair p {
  margin: 0;
  color: #555;
}

/* Style for the canvas elements within chart-box */
.chart-box canvas {
  max-width: 100%;
  height: auto;
}

/* Dark Theme Styles */
.dark-theme {
  background-color: rgb(21, 27, 37);
  color: rgb(233, 236, 239);
}
