/* Text editor styles */
.preview {
  width: auto;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.preview img {
  width: auto;
  height: 400px;
  padding: 10px;
  font-size: 16px;
}

/* Style the directory tree */
.directory-tree {
  width: 20%;
  float: left;
  margin-left: 2%;
}

.directory-tree ul {
  list-style-type: none;
  padding-left: 0;
}

.directory-tree li {
  margin-bottom: 5px;
}

.directory-tree li :hover {
  margin-bottom: 5px;
  text-decoration: underline;
}

/* Style the text editor container */
.text-editor-container {
  width: auto;
  float: left;
  margin-left: 2%;
}

/* Clear the float for the container to prevent layout issues */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#textsubmit {
  margin-top: 20px;
}

#pointer {
  cursor: pointer;
}

#pointer:hover {
  text-decoration: underline;
}
