{% extends 'filesystem/base.html' %}

{% load static %}

{% block head %}
<link
    rel="stylesheet"
    href="{% static 'css/noneditfile.css' %}"
  />
{% endblock %}

{% block content %}

    <br />
    <div class="directory-tree">
        <ul>
            <li>
                <span id="pointer" onclick="back()" class="folder">{{ folder }}/</span>
            </li>
            {% for dir in dirs %}
            <li>
                <span id="pointer" onclick='window.open("./../{{ dir }}/", "_self");' class="folder">-- {{ dir }}/</span>
            </li>
            {% endfor %}

            {% for file in files %}
            <li>
                <span id="pointer" onclick='window.open("./../{{ file }}/", "_self");' class="file">-- {{ file }}</span>
            </li>
            {% endfor %}
            
        </ul>
    </div>
    
    <!-- Text Editor -->
    <div class="text-editor-container">
        <div class="preview">
            {% if content_type == "image/jpeg" or content_type == "image/png" %}
                <img src="{% url 'filepreview' dir=addr %}" alt="Image" />
            {% elif content_type == "application/pdf" %}
                <object data="{% url 'filepreview' dir=addr %}" type="application/pdf" width="100%" height="500px">
                    <p>Your browser does not support PDFs.</p>
                </object>
            
            {% elif content_type == "audio/mpeg" %}
                <audio controls>
                    <source src="{% url 'filepreview' dir=addr %}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            {% elif content_type == "video/mp4" %}
                <video controls width="100%" height="auto">
                    <source src="{% url 'filepreview' dir=addr %}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% else %}
                <p>File type not supported.</p>
            {% endif %}
            <br>
            <button id="textsubmit" onclick='download()' class="btn btn-primary">Download</button>
        </div>
    </div>
    
    
      
    </div>
    <script>
            function back() {
        window.open("./..", "_self");
      }
            function download(){
        window.open("{% url 'filepreview' dir=addr %}",'_blank');
      }
    </script>
{% endblock %}
