{% load static %}

<html id="color-mode" data-bs-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Text Editor</title>
    <link rel="shortcut icon" href="images/icon.png" />

    <!-- JQuery & Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Animate.css -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />

    <link
      rel="stylesheet"
      href="{% static 'css/editfile.css' %}"
    />

    <style>
        .chart-container {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
margin: 20px 0;
}

/* Individual chart boxes */
.chart-box {
background-color: #fff;
border-radius: 5px;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
padding: 20px;
margin-bottom: 10px;
}

.info-box {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
gap: 20px;
}

.info-category {
background-color: #fff;
border-radius: 5px;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
padding: 20px;
margin-bottom: 20px;
flex-basis: calc(50% - 20px); /* Two columns, adjust as needed */
}

.info-pair {
display: flex;
justify-content: space-between;
margin-bottom: 10px;
}

.info-pair p {
margin: 0;
color: #555;
}


/* Style for the canvas elements within chart-box */
.chart-box canvas {
max-width: 100%;
height: auto;
}
/* Dark Theme Styles */
.dark-theme {
background-color: rgb(21, 27, 37);
color: rgb(233, 236, 239);
}
    </style>
  </head>
  <body>
    <!-- menu -->
    <nav
        class="navbar navbar-expand-lg navbar-light bd-navbar"
        style="background-color: #00b7ff"
      >
        <div class="container-fluid">
          <a class="navbar-brand">
            <img src="{% static 'icon.png' %}" alt="" width="40" height="32" />
          </a>
          <a class="navbar-brand" href="" style="color: black">Resource Monitor</a>
  
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="{% url 'home' %}"
                  style="color: black"
                  >Explorer</a
                >
              </li>

              <li class="nav-item">
                <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'terminal' %}"
                style="color: black"
                >Terminal</a
              >
              </li>

              <li class="nav-item">
                <button
                  type="button"
                  id="color-mode-button"
                  style="display: block"
                  onclick="change()"
                  class="btn btn-outline-secondary"
                >
                  <img
                    width="32"
                    height="32"
                    src="{% static 'brightness.png' %}"
                  />
                </button>
              </li>
             
            </ul>

          </div>
        </div>
      </nav>

    <section class="chart-container">
        <div class="chart-box">
            <canvas id="ramChart"></canvas>
        </div>
        <div class="chart-box">
            <canvas id="cpuChart"></canvas>
        </div>
        <div class="chart-box">
            <canvas id="networkChart"></canvas>
        </div>    </section>
    <section class="info-box">
        <section class="info-box">
            <div class="info-category">
               <div class="info-pair">
                  <p>Operating System:</p>
                  <p id="os-name"></p>
               </div>
               <div class="info-pair">
                  <p>OS Release:</p>
                  <p id="os-release"></p>
               </div>
            </div>
            <div class="info-category">
                <div class="info-pair">
                <p>Network Sent:</p> <p id="net-sent"></p>
            </div>
                <div class="info-pair">
                <p>Network Received:</p> <p id="net-recv"></p>
            </div>
            </div>
            <div class="info-category">
               <div class="info-pair">
                  <p>CPU Architecture:</p>
                  <p id="cpu-arch"></p>
               </div>
               <div class="info-pair">
                  <p>CPU Percent:</p>
                  <p id="cpu-percent"></p>
               </div>
               <div class="info-pair">
                  <p>CPU Cores:</p>
                  <p id="cpu-core"></p>
               </div>
               <div class="info-pair">
                  <p>CPU Threads:</p>
                  <p id="cpu-thread"></p>
               </div>
            </div>
        <div class="info-category">
            <div class="info-pair">
                <p>Ram Percent:</p> <p id="ram-percent"></p>
            </div>
            <div class="info-pair">
                <p>Ram Usage:</p> <p id="ram-usage"></p>
            </div>
            <div class="info-pair">
            <p>Ram Total:</p> <p id="ram-total"></p>
        </div>
        <div class="info-pair">
            <p>Ram Available:</p> <p id="ram-avai"></p>
        </div>
        </div>
        <div class="info-category">
            <div class="info-pair">
            <p>Disk Usage:</p> <p id="disk-usage"></p>
        </div>
            <div class="info-pair">
            <p>Disk Total:</p> <p id="disk-total"></p>
        </div>
            <div class="info-pair">
            <p>Disk Available:</p> <p id="disk-avai"></p>
        </div>
            <div class="info-pair">
            <p>Disk Used:</p> <p id="disk-used"></p>
        </div>
        </div>
        
 
    </section>

    
    <script src="{% static 'js/editfile.js' %}"></script>
    <script>
         // Your existing script code goes here
         const ramTime = [];
        const ramData = [];
        const cpuTime = [];
        const cpuData = [];
        const networkData = [];
        const networkuploadData = [];
        const networkTime = [];
    
        // Create Chart.js instances for RAM and CPU charts
        const ramCtx = document.getElementById("ramChart").getContext('2d');
        ramCtx.canvas.width = 400; 
        ramCtx.canvas.height = 200;
        const ramChart = new Chart(ramCtx, {
            type: 'line',
            data: {
                labels: ramTime,
                datasets: [{
                    label: 'RAM Usage (%)',
                    data: ramData,
                    borderColor: 'blue',
                    fill: true,
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true,  
                        max: 100, 
                        title: {
                            display: true,
                            text: 'RAM Usage (%)',
                        },
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Time',
                        }
                    }
                },
            }
        });
        const networkCtx = document.getElementById("networkChart").getContext('2d');
        networkCtx.canvas.width = 400;
        networkCtx.canvas.height = 200;
        const networkChart = new Chart(networkCtx, {
            type: 'line',
            data: {
                labels: networkTime,
                datasets: [{
                    label: 'Netowrk Upload (MB)',
                    data: networkData,
                    borderColor: 'orange',
                    fill: true,
                },
                {
                    label: 'Netowrk Download (MB)',
                    data: networkuploadData,
                    borderColor: 'green',
                    fill: true,
                }
            ]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true,  
                        title: {
                            display: true,
                            text: 'Network Usage (MB)',
                        },
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Time',
                        }
                    }
                },
            }
        });
    
        const cpuCtx = document.getElementById("cpuChart").getContext('2d');
        cpuCtx.canvas.width = 400;
        cpuCtx.canvas.height = 200;
        const cpuChart = new Chart(cpuCtx, {
            type: 'line',
            data: {
                labels: cpuTime,
                datasets: [{
                    label: 'CPU Usage (%)',
                    data: cpuData,
                    borderColor: 'violet',
                    fill: false,
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true,  
                        max: 100,  
                        title: {
                            display: true,
                            text: 'CPU Usage (%)',
                        },
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Time',
                        }
                    }
                },
            }
        });
    
        // WebSocket connection for resource data
        const resourceSocket = new WebSocket(
            'ws://'
            +
            window.location.host
            +
            "/ws/resource/"
        );
    
        resourceSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            
            if (ramData.length >= 7) {
                ramData.shift();
                ramTime.shift();   
            }
            ramTime.push(new Date().toLocaleTimeString());
            ramData.push(data.ram_usage_percent);
    
            // Add new data to CPU chart
            if (cpuData.length >= 7) {
                cpuData.shift();
                cpuTime.shift();   
            }

            if (networkData.length >= 7) {
                networkData.shift();
                networkuploadData.shift();
                networkTime.shift();   
            }
            cpuTime.push(new Date().toLocaleTimeString());
            cpuData.push(data.cpu_percent);

            networkTime.push(new Date().toLocaleTimeString());
            networkData.push(data.network_bytes_sent);
            networkuploadData.push(data.network_bytes_recv);
            // Update both charts
            ramChart.update();
            cpuChart.update();
            networkChart.update();
    
            // Update OS and other information
            document.getElementById("os-name").textContent = data.os_platform;
            document.getElementById("os-release").textContent = data.os_release;
            document.getElementById("cpu-arch").textContent = data.cpu_architecture;
            document.getElementById("cpu-percent").textContent = data.cpu_percent + "%";
            document.getElementById("cpu-core").textContent = data.cpu_cores;
            document.getElementById("cpu-thread").textContent = data.cpu_threads;
            document.getElementById("ram-percent").textContent = data.ram_usage_percent + "%";
            document.getElementById("ram-usage").textContent = data.ram_usage_gb + " GB";
            document.getElementById("ram-total").textContent = data.ram_total_gb + " GB";
            document.getElementById("ram-avai").textContent = data.ram_available_gb + " GB";
            document.getElementById("disk-usage").textContent = data.disk_usage_percent + "%";
            document.getElementById("disk-total").textContent = data.disk_total_gb + " GB";
            document.getElementById("disk-avai").textContent = data.disk_free_gb + " GB";
            document.getElementById("disk-used").textContent = data.disk_used_gb + " GB";
            document.getElementById("net-sent").textContent = data.network_bytes_sent + " MB";
            document.getElementById("net-recv").textContent = data.network_bytes_recv + " MB";
        };
    
        resourceSocket.onclose = function (e) {
            console.error("Socket closed unexpectedly");
        };
    
        setInterval(function () {
            resourceSocket.send(JSON.stringify({
                'message': "send_data"
            }));
        }, 1000);

    </script>
  </body>
</html>
