{% extends 'filesystem/base.html' %}

{% load static %}

{% block title %}Terminal{% endblock %}

{% block head %}

    <style>

    body{
        overflow-y: hidden;
    }
        #container {
    padding: .1em 1.5em 1em 1em;
    overflow-y:scroll;
    font-size: 13pt;
    font-family: monospace;
    color: white;
    background-color: black;
    width: 100%;
    height: 100%;
}
#cmdline {
    outline: none;
    background-color: transparent;
    margin: 0;
    width: 100%;
    font: inherit;
    border: none;
    color: inherit;
}
#output {
    clear: both;
    width: 100%;
}
#prompt {
    white-space: nowrap;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-orient: vertical;
    display: box;
    box-pack: center;
    box-orient: vertical;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.prompt-color {
    color: #e09f14;
}
.input-line {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: stretch;
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-align: stretch;
    display: box;
    box-orient: horizontal;
    box-align: stretch;
    clear: both;
}
.input-line > div:nth-child(2) {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}

    </style>
  {% endblock %}

{% block nav %}

<li class="nav-item">
  <a
    class="nav-link active"
    aria-current="page"
    href="{% url 'home' %}"
    style="color: black"
    >Explorer</a
  >
</li>
<li class="nav-item">
  <a
    class="nav-link active"
    aria-current="page"
    href="{% url 'resource' %}"
    style="color: black"
    >Resource Monitor</a
  >
</li>

{% endblock %}

{% block navicon %}
        <a class="navbar-brand">
          <img src="{% static 'icon.png' %}" alt="" width="40" height="32" />
        </a>
        <a class="navbar-brand" href="" style="color: black">Terminal</a>
{% endblock %}

  {% block content %}
    <div id="container">
        <div id="output"></div>
        <div id="input-line" class="input-line">
            <div id="prompt" class="prompt-color"></div>&nbsp;
            <div>
                <input type="text" id="cmdline" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                    autofocus/>
            </div>
        </div>
    </div>
    <script>
      const container = document.getElementById('container');
        const promptElement = document.getElementById('prompt');
        const cmdlineInput = document.getElementById('cmdline');
        const outputDiv = document.getElementById('output');
        const history = [];
        let historyIndex = -1;

        const terminalSocket = new WebSocket(
            'ws://' + window.location.host + "/ws/terminal/"
        );

        let sysname = ""

        terminalSocket.onopen = function (e) {
            console.log("WebSocket connection established");
            terminalSocket.send(JSON.stringify({ 'command':'' }));
            displayPrompt();
        };

        terminalSocket.onclose = function (e) {
            console.error("Socket closed unexpectedly");
        };

        container.addEventListener('keydown', function (e) {
            if (e.key === 'Enter') {
                const command = cmdlineInput.value.trim();

                if (command) {
                    history.unshift(command);
                    historyIndex = -1;

                    terminalSocket.send(JSON.stringify({ command }));

                    const commandDiv = document.createElement('div');
                    commandDiv.textContent = sysname + '$ ' + command;
                    outputDiv.appendChild(commandDiv);

                    cmdlineInput.value = '';
                }
            } else if (e.key === 'ArrowUp' && history.length > 0) {
                historyIndex = Math.min(historyIndex + 1, history.length - 1);
                cmdlineInput.value = historyIndex >= 0 ? history[historyIndex] : '';
            } else if (e.key === 'ArrowDown' && history.length > 0) {
                historyIndex = Math.max(historyIndex - 1, -1);
                cmdlineInput.value = historyIndex >= 0 ? history[historyIndex] : '';
            }
        });

        terminalSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);

            const responseDiv = document.createElement('div');
            responseDiv.textContent = data.response;
            outputDiv.appendChild(responseDiv);
            sysname = data.sysname;
            displayPrompt();
        }; 

        function displayPrompt() {
            promptElement.textContent = sysname + '$'; 
        }
        
        
        </script>
    {% endblock %}