{% load static %}

<html id="color-mode" data-bs-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>File Manager</title>
    <link rel="shortcut icon" href="images/icon.png" />

    <!-- JQuery & Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Animate.css -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link
    rel="stylesheet"
    href="{% static 'css/file.css' %}"
  />
  </head>
  <body>
    <!-- menu -->
    <nav
      class="navbar navbar-expand-lg navbar-light bd-navbar"
      style="background-color: #00b7ff"
    >
      <div class="container-fluid">
        <a class="navbar-brand">
          <img src="{% static 'icon.png' %}" alt="" width="40" height="32" />
        </a>
        <a class="navbar-brand" href="" style="color: black">File Manager</a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'resource' %}"
                style="color: black"
                >Resource Monitor</a
              >
            </li>

            <li class="nav-item">
              <a
              class="nav-link active"
              aria-current="page"
              href="{% url 'terminal' %}"
              style="color: black"
              >Terminal</a
            >
            </li>

            <li class="nav-item">
              <button
                type="button"
                id="color-mode-button"
                style="display: block"
                onclick="change()"
                class="btn btn-outline-secondary"
              >
                <img
                  width="32"
                  height="32"
                  src="{% static 'brightness.png' %}"
                />
              </button>
            </li>
          </ul>
          <form class="d-flex">
            <input
              class="form-control"
              id="myInput"
              type="text"
              placeholder="Search.."
            />
          </form>
        </div>
      </div>
    </nav>

    <br />

    <!--Adrress-->
    <div style="display: flex;">
      <div class="address-box" style="width: 80%;"> <!-- Adjust the width as needed -->
        {% if addr %}
        <button
          type="button"
          style="margin-right: 20px"
          onclick="back()"
          class="btn btn-primary"
        >
          Back
        </button>
        {% endif %}
        <h5 style="text-align: left; margin-top: auto; margin-bottom: auto;">
          Address: root/{{addr}}
        </h5>
      </div>
      <button class="btn btn-success ml-auto" id="shownefolderdialog">New Folder</button>
    </div>    
  
    <br />

    <dialog id="newfolderdialog">
      <form method="post" action="{% url 'newfolder' %}">
        {% csrf_token %}
        <label for="{{ form.foldername.id_for_label }}">Folder Name:</label>
        <input
          type="text"
          id="{{ form.foldername.id_for_label }}"
          name="{{ form.foldername.name }}"
        />
        <br />
        
        <input
          type="text"
          id="{{ form.directory.id_for_label }}"
          name="{{ form.directory.name }}"
          value="{{ addr }}"
          hidden
        />
        <br />
        <button value="cancel" formmethod="dialog" class="btn btn-secondary">
          Cancel
        </button>
        <button type="submit" class="btn btn-primary">Create Folder</button>
      </form>
    </dialog>

    <dialog id="uploadfiledialog">
      <form method="post" action="{% url 'uploadfile' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="{{ uploadfileform.file.id_for_label }}">Folder Name:</label>
        <input
          type="file"
          id="{{ uploadfileform.file.id_for_label }}"
          name="{{ uploadfileform.file.name }}"
        />
        <br />
        
        <input
          type="text"
          id="{{ uploadfileform.directory.id_for_label }}"
          name="{{ uploadfileform.directory.name }}"
          value="{{ addr }}"
          hidden
        />
        <br />
        <br />
        <button value="cancel" formmethod="dialog" onclick="closeUploadFileDialog()" class="btn btn-secondary">
          Cancel
        </button>
        <button type="submit" class="btn btn-primary">Upload File</button>
      </form>
    </dialog>


    <dialog id="deletefiledialog">
      <p>Are you sure to delete?</p>
      <form method="post" action="{% url 'delete' %}">
        {% csrf_token %}

        <input
          type="text"
          id="deleteFolderName"
          name="{{ deletefileform.file.name }}"
          value=""
          hidden
          
        />
    
        <input
          type="text"
          id="{{ deletefileform.directory.id_for_label }}"
          name="{{ deletefileform.directory.name }}"
          value="{{ addr }}"
          hidden
        />
    
        <br />
        <button value="cancel" formmethod="dialog" onclick="closeDeleteFileDialog()" class="btn btn-secondary">
          Cancel
        </button>
        <button type="submit" class="btn btn-danger">Delete File</button>
      </form>
    </dialog>

    <dialog id="renamefiledialog">

      <form method="post" action="{% url 'rename' %}">
        {% csrf_token %}

        <label for="{{ renamefileform.name.id_for_label }}">Folder Name:</label>
        <input
          type="text"
          id="{{ renamefileform.name.id_for_label }}"
          name="{{ renamefileform.name.name }}"
        />

        <input
          type="text"
          id="renamefoldername"
          name="{{ renamefileform.file.name }}"
          value=""
          hidden
          
        />
    
        <input
          type="text"
          id="{{ renamefileform.directory.id_for_label }}"
          name="{{ renamefileform.directory.name }}"
          value="{{ addr }}"
          hidden
        />
    
        <br />
        <button value="cancel" formmethod="dialog" onclick="closeREnameDialog()" class="btn btn-secondary">
          Cancel
        </button>
        <button type="submit" class="btn btn-primary">Rename</button>
      </form>
    </dialog>


    <dialog id="newfiledialog">

      <form method="post" action="{% url 'newfile' %}">
        {% csrf_token %}

        <label for="{{ newfileform.file.id_for_label }}">New File:</label>
        <input
          type="text"
          id="{{ newfileform.file.id_for_label }}"
          name="{{ newfileform.file.name }}"
        />
    
        <input
          type="text"
          id="{{ newfileform.directory.id_for_label }}"
          name="{{ newfileform.directory.name }}"
          value="{{ addr }}"
          hidden
        />
    
        <br />
        <button value="cancel" formmethod="dialog" onclick="closeREnameDialog()" class="btn btn-secondary">
          Cancel
        </button>
        <button type="submit" class="btn btn-primary">Create file</button>
      </form>
    </dialog>
    

    <div id="customContextMenu" style="display: none">
      <ul class="menuItems">
        <li class="items" id="shownefolderdialog">New Folder</li>
        <li class="items" id="shownewfiledialog">New File</li>
        <li class="items" id="showuploadfiledialog">Upload File</li>
        {% if addr %}
        <li class="items" onclick="back()">Back</li>
        {% endif %}
      </ul>
    </div>

    <div id="customContextMenu-file" style="display: none">
      <ul class="menuItems">
        <li class="items" id="showrenamedialog">Rename</li>
        <li class="items" id="showdeletedialog">Delete</li>
        {% if addr %}
        <li class="items" onclick="back()">Back</li>
        {% endif %}     
      </ul>
    </div>

    <!-- grid -->
    <div class="root container" id="all">
      <div class="row">
        {% for dir in dirs %}
        <div class="item col-sm folder" data-folder="{{ dir }}" id="folder_{{ dir }}" onclick="window.open('./{{ dir }}/','_self')">
          <br />
          <img class="folder" data-folder="{{ dir }}" src="{% static 'Tiles/folder.png' %}" />
          <p class="folder" data-folder="{{ dir }}">{{dir}}</p>
        </div>
        {% endfor %}

        {% for file in files %}
        <div class="item col-sm file" data-folder="{{ file }}" id="file_{{ file }}" onclick="window.open('./{{ file }}/','_self')">
          <br />
          <img class="file" data-folder="{{ file }}" src="{% static 'Tiles/file.png' %}" />
          <p class="file" data-folder="{{ file }}"> {{file}}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    <script src="{% static 'js/file.js' %}"></script>
  </body>
</html>