{% extends 'filesystem/base.html' %}

{% load static %}

{% block head %}
<link
    rel="stylesheet"
    href="{% static 'css/file.css' %}"
  />
{% endblock %}

{% block content %}
    <br />

    <!--Adrress-->
    <div style="display: flex;">
      <div class="address-box" style="width: 80%;"> <!-- Adjust the width as needed -->
        {% if addr %}
        <button
          type="button"
          style="margin-right: 20px"
          onclick="back()"
          class="btn btn-primary"
        >
          Back
        </button>
        {% endif %}
        <h5 style="text-align: left; margin-top: auto; margin-bottom: auto;">
          Address: root/{{addr}}
        </h5>
      </div>
      <button class="btn btn-success ml-auto" id="shownefolderdialog">New Folder</button>
    </div>    
  
    <br />

    <dialog id="newfolderdialog">
      <form method="post" action="{% url 'newfolder' %}">
        {% csrf_token %}
        <label for="{{ form.foldername.id_for_label }}">Folder Name:</label>
        <input
          type="text"
          id="{{ form.foldername.id_for_label }}"
          name="{{ form.foldername.name }}"
        />
        <br />
        
        <input
          type="text"
          id="{{ form.directory.id_for_label }}"
          name="{{ form.directory.name }}"
          value="{{ addr }}"
          hidden
        />
        <br />
        <button value="cancel" formmethod="dialog" class="btn btn-secondary">
          Cancel
        </button>
        <button type="submit" class="btn btn-primary">Create Folder</button>
      </form>
    </dialog>

    <dialog id="uploadfiledialog">
      <form method="post" action="{% url 'uploadfile' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="{{ uploadfileform.file.id_for_label }}">Folder Name:</label>
        <input
          type="file"
          id="{{ uploadfileform.file.id_for_label }}"
          name="{{ uploadfileform.file.name }}"
        />
        <br />
        
        <input
          type="text"
          id="{{ uploadfileform.directory.id_for_label }}"
          name="{{ uploadfileform.directory.name }}"
          value="{{ addr }}"
          hidden
        />
        <br />
        <br />
        <button value="cancel" formmethod="dialog" onclick="closeUploadFileDialog()" class="btn btn-secondary">
          Cancel
        </button>
        <button type="submit" class="btn btn-primary">Upload File</button>
      </form>
    </dialog>


    <dialog id="deletefiledialog">
      <p>Are you sure to delete?</p>
      <form method="post" action="{% url 'delete' %}">
        {% csrf_token %}

        <input
          type="text"
          id="deleteFolderName"
          name="{{ deletefileform.file.name }}"
          value=""
          hidden
          
        />
    
        <input
          type="text"
          id="{{ deletefileform.directory.id_for_label }}"
          name="{{ deletefileform.directory.name }}"
          value="{{ addr }}"
          hidden
        />
    
        <br />
        <button value="cancel" formmethod="dialog" onclick="closeDeleteFileDialog()" class="btn btn-secondary">
          Cancel
        </button>
        <button type="submit" class="btn btn-danger">Delete File</button>
      </form>
    </dialog>

    <dialog id="renamefiledialog">

      <form method="post" action="{% url 'rename' %}">
        {% csrf_token %}

        <label for="{{ renamefileform.name.id_for_label }}">Folder Name:</label>
        <input
          type="text"
          id="{{ renamefileform.name.id_for_label }}"
          name="{{ renamefileform.name.name }}"
        />

        <input
          type="text"
          id="renamefoldername"
          name="{{ renamefileform.file.name }}"
          value=""
          hidden
          
        />
    
        <input
          type="text"
          id="{{ renamefileform.directory.id_for_label }}"
          name="{{ renamefileform.directory.name }}"
          value="{{ addr }}"
          hidden
        />
    
        <br />
        <button value="cancel" formmethod="dialog" onclick="closeREnameDialog()" class="btn btn-secondary">
          Cancel
        </button>
        <button type="submit" class="btn btn-primary">Rename</button>
      </form>
    </dialog>


    <dialog id="newfiledialog">

      <form method="post" action="{% url 'newfile' %}">
        {% csrf_token %}

        <label for="{{ newfileform.file.id_for_label }}">New File:</label>
        <input
          type="text"
          id="{{ newfileform.file.id_for_label }}"
          name="{{ newfileform.file.name }}"
        />
    
        <input
          type="text"
          id="{{ newfileform.directory.id_for_label }}"
          name="{{ newfileform.directory.name }}"
          value="{{ addr }}"
          hidden
        />
    
        <br />
        <button value="cancel" formmethod="dialog" onclick="closeREnameDialog()" class="btn btn-secondary">
          Cancel
        </button>
        <button type="submit" class="btn btn-primary">Create file</button>
      </form>
    </dialog>
    

    <div id="customContextMenu" style="display: none">
      <ul class="menuItems">
        <li class="items" id="shownefolderdialog">New Folder</li>
        <li class="items" id="shownewfiledialog">New File</li>
        <li class="items" id="showuploadfiledialog">Upload File</li>
        {% if addr %}
        <li class="items" onclick="back()">Back</li>
        {% endif %}
      </ul>
    </div>

    <div id="customContextMenu-file" style="display: none">
      <ul class="menuItems">
        <li class="items" id="showrenamedialog">Rename</li>
        <li class="items" id="showdeletedialog">Delete</li>
        {% if addr %}
        <li class="items" onclick="back()">Back</li>
        {% endif %}     
      </ul>
    </div>

    <!-- grid -->
    <div class="root container" id="all">
      <div class="row">
        {% for dir in dirs %}
        <div class="item col-sm folder" data-folder="{{ dir }}" id="folder_{{ dir }}" onclick="window.open('./{{ dir }}/','_self')">
          <br />
          <img class="folder" data-folder="{{ dir }}" src="{% static 'Tiles/folder.png' %}" />
          <p class="folder" data-folder="{{ dir }}">{{dir}}</p>
        </div>
        {% endfor %}

        {% for file in files %}
        <div class="item col-sm file" data-folder="{{ file }}" id="file_{{ file }}" onclick="window.open('./{{ file }}/','_self')">
          <br />
          <img class="file" data-folder="{{ file }}" src="{% static 'Tiles/file.png' %}" />
          <p class="file" data-folder="{{ file }}"> {{file}}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    <script src="{% static 'js/file.js' %}"></script>
{% endblock %}